.contextmenu{
    position: absolute;
}
	p:hover{
		background: red;
		cursor: pointer;
	}
	.first_div p:hover{
		background: green;
		cursor: pointer;
	}
	.menu ul li{
		cursor:pointer;
		border-bottom: 1px solid #fff;
		background: red;
		padding: 0px 10px;
		width: 100px;
		height: 20px;
		list-style: none;
	}
	.menu ul li ul{
		display: none;
        margin: -17px 0px 0px 110px;
	    padding: 0;
	}
	.menu ul li ul li{
		background: #ff5a5a;
	}
	div.menu ul > li:hover{
		background: #dfdfdf;
	}
	div.menu ul li ul li:hover{
		background: #95fff5;
	}
	div.menu ul li:hover > ul{
		display: block;		
	}